@use '_variable' as *;

@mixin pc {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin pc-laptop {
  @media only screen and (min-width: 768px) and (max-width: 1439.98px) {
    @content;
  }
}

@mixin pc-tablet {
  @media only screen and (min-width: 768px) and (max-width: 1279.98px) {
    @content;
  }
}

@mixin pc-layout {
  @media (min-width: 1280px) {
    @content;
  }
}

@mixin sp {
  @media only screen and (max-width: 767.98px) {
    @content;
  }
}

@mixin sp-layout {
  @media only screen and (max-width: 1279.98px) {
    @content;
  }
}

@mixin tablet-layout {
  @media only screen and (min-width: 768px) and (max-width: 1100.98px) {
    @content;
  }
}

@mixin screen {
  @media screen {
    @content;
  }
}

@mixin print {
  @media print {
    @content;
  }
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }

  &::-moz-placeholder {
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }

  &::-ms-input-placeholder {
    @content;
  }

  &::placeholder {
    @content;
  }
}

@mixin flex($direction: row, $justify: flex-start, $align: stretch, $wrap: nowrap, $gap: null) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;

  @if $gap != null {
    gap: $gap;
  }
}

@mixin grid($columns: 1fr, $rows: auto, $gap: null) {
  display: grid;
  grid-template-columns: $columns;
  grid-template-rows: $rows;

  @if $gap != null {
    gap: $gap;
  }
}

@mixin text-ellipse($line) {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
}

@mixin scroll-hidden {
  &::-webkit-scrollbar {
    width: 0;
    opacity: 0;
  }
}

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
