@charset "utf-8";

$width-wrapper: 1622px;
$fontfamily-vogun: 'Vogun', sans-serif;
$fontfamily-default: 'TT_Commons', serif;
$fontsize-default: .20rem;
$fontweight-default: 400;
$lineheight-default: calc(26 / 20);
$color-default: #195450;
$color-white: #fff;
$color-lion: #c19e74;
