@use '../_base/variable'as *;
@use '../_base/mixin'as *;

.footer-common {
  background: url(../img/common/footer_bg_01.jpg) 50% 0% / 100% auto no-repeat, url(../img/common/footer_bg_02.jpg) 50% 0% / 100% auto repeat;
  background-color: #003430;
}

.block-footer-information {
  padding: .78rem 0 .8rem;

  .block-wrapper {
    width: 5.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .block-wrapper:nth-child(1) {
    .block-logo {
      width: 100%;
      max-width: 1.79rem;
    }
  }

  .block-wrapper:nth-child(2) {
    .block-logo {
      width: 100%;
      max-width: 2.92rem;
    }
  }

  .block-logo {
    min-height: 1.8rem;
    margin: 0 auto;
  }

  .wrapper {
    display: flex;
    gap: .3rem;
    justify-content: space-between;
  }

  .title-common-primary {
    margin-bottom: .24rem;
    font-size: .4rem;
    line-height: calc(60 / 40);
  }
}

.slider-footer-company {
  margin-top: 1.55rem;
  display: flex;
  flex-direction: column;
  gap: .37rem;

  .slider-viewport {
    width: 100%;
    overflow: hidden;
  }

  .slider-wrapper,
  .slider-slide {
    transition-timing-function: linear !important;
  }

  .slider-slide {
    width: auto;
    height: 1.7rem;
    padding: 0 .18rem;

    img {
      width: auto;
      height: 100%;
      display: block;
    }
  }
}

.contact-footer {
  color: #fff;

  .wrapper {
    padding: .5rem 0 .69rem;
    display: flex;
    flex-wrap: wrap;
    gap: .7rem .5rem;
    border-top: 1px solid #d9d9d9;
  }

  .contact-credits {
    width: 10.58rem;
    margin-top: -1.47rem;
    flex: 0 0 auto;
  }
  
  .credits-wrapper {
    margin-top: .25rem;
    font-size: .2rem;
    line-height: calc(26 / 20);

    strong {
      color: #c1a880;
    }
  }
}

.table-footer-contact {
  width: 10.58rem;
  padding-bottom: 1.47rem;
  display: flex;
  flex-wrap: wrap;
  gap: .42rem;
  flex: 0 0 auto;

  .table-entry {
    width: calc(50% - .21rem);
  }

  .entry-title {
    margin-bottom: .25rem;
    display: block;
    font-size: .2rem;
    font-weight: 700;
    line-height: calc(26 / 20);
  }
}

.list-footer-details {
  display: flex;
  flex-direction: column;
  gap: .06rem;
  font-size: .2rem;
  line-height: calc(26 / 20);

  .list-item {
    display: flex;
  }

  .item-icon {
    width: .18rem;
    height: .26rem;
    margin-right: .21rem;
    display: block;
    flex: 0 0 auto;
    background: 50% 50% / 100% auto no-repeat;
  }

  .item-icon.is-address {
    background-image: url(../img/common/icon_contact_01.svg);
  }

  .item-icon.is-email {
    background-image: url(../img/common/icon_contact_02.svg);
  }

  .item-icon.is-phone {
    background-image: url(../img/common/icon_contact_03.svg);
  }
}

.form-footer-contact {
  flex: 1 1 0;

  .form-title {
    margin-bottom: .2rem;
    display: block;
    font-size: .25rem;
    line-height: calc(30 / 25);
    font-weight: 700;
    color: #c1a880;
  }

  .form-detail {
    margin-bottom: .17rem;
    font-size: .2rem;
    line-height: calc(26 / 20);

    p {
      margin: 0;
    }
  }

  .form-wrapper {
    display: flex;
    flex-direction: column;
    gap: .08rem;
  }

  .form-controller {
    margin-top: .2rem;
    display: flex;
    flex-wrap: wrap;
  }
}

.list-footer-sns {
  display: flex;
  flex-wrap: wrap;
  gap: .2rem;

  .list-item {
    width: .34rem;
    flex: 0 0 auto;
  }

  .item-wrapper {
    display: block;
    position: relative;
  }
}