@use '../_base/_variable'as *;
@use '../_base/_mixin'as *;

html {
  -webkit-font-smoothing: antialiased;
  line-height: 1;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;

  @include pc {
    font-size: calc(100dvw / 19.2);
  }

  @include sp {
    font-size: calc(100dvw / 3.75);
  }
}

a {
  text-decoration: none;
}

img,
svg {
  image-rendering: smooth;
  shape-rendering: geometricprecision;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

input,
textarea,
select {
  display: block;
  font: inherit;
  color: inherit;
}

.body {
  color: $color-default;
  font-family: $fontfamily-default;
  font-size: $fontsize-default;
  font-weight: $fontweight-default;
  line-height: $lineheight-default;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.main {
  width: 100%;
  height: 100%;
  position: relative;

  @include pc {}

  @include sp {}
}

.wrapper {
  margin-right: auto;
  margin-left: auto;

  @include pc {
    width: calc(100% - .60rem);
    max-width: $width-wrapper;
  }

  @include sp {
    width: calc(100% - .24rem);
  }
}
