@use '../../_base/variable' as *;
@use '../../_base/mixin' as *;

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(100rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.wow {
  visibility: hidden;
}

.c-animation-fadeinup {
  animation-name: fadeInUp;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}
