@use '_base/_variable' as *;
@use '_base/_mixin' as *;

.c-bar-share {
  display: flex;
  align-items: center;

  .c-bar-share__line {
    position: relative;
    flex: 1;

    &::before,
    &::after {
      content: '';
      position: absolute;
      display: block;
      top: 50%;
      transform: translateY(-50%);
      background-color: rgb(228, 228, 228);
    }

    &::before {
      width: 100%;
      height: 1rem;
      left: 0;
    }

    &::after {
      right: 0;
      border-radius: 50%;
      width: 9rem;
      height: 9rem;
    }
  }

  .c-bar-share__wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .c-bar-share__label {
    margin: 0;
  }

  @include pc {
    .c-bar-share__wrapper {
      margin-right: -4rem;
      padding-left: 43rem;
    }

    .c-bar-share__label {
      margin-right: 14rem;
      font-size: 16rem;
      line-height: calc(25 / 16);
    }

    .c-bar-share__icon {
      margin-left: 3rem;
    }
  }

  @include sp {
    .c-bar-share__wrapper {
      padding-left: 15rem;
    }

    .c-bar-share__label {
      margin-right: 10rem;
      font-size: 14rem;
      line-height: calc(22 / 14);
    }

    .c-bar-share__icon {
      margin-left: 3rem;
      width: 44rem;
    }
  }
}
