@use '../../_base/variable'as *;
@use '../../_base/mixin'as *;

.button-common-primary {
  min-width: 1.66rem;
  padding: .09rem .4rem .09rem .2rem;
  position: relative;
  background-color: $color-lion;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-white;
  border-radius: .25rem;
  font-size: .22rem;
  line-height: calc(27 / 22);

  &::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: calc(50% - .06rem);
    right: .2rem;
    mask: url(../img/common/icon_arrow_01.svg) 50% 50% / contain no-repeat;
    transition: right 0.5s ease-in-out;
    width: .12rem;
    height: .12rem;
    background-color: $color-white;
  }
}
