@use '../../_base/variable' as *;
@use '../../_base/mixin' as *;

.p-card-projects {
  position: relative;

  .p-card-projects__title {
    margin: 0;
    position: relative;
  }

  .p-card-projects__title-wrapper {
    @include text-ellipse(2);
  }

  .p-card-projects__information-description {
    font-weight: 300;

    @include flex($justify: space-between, $align: flex-start, $wrap: wrap, $gap: 5rem 20rem);
  }

  .p-card-projects__description-entry {
    flex: 0 0 auto;
    max-width: 100%;
  }

  .p-card-projects__entry-label,
  .p-card-projects__entry-content {
    position: relative;
    display: inline;
  }

  .p-card-projects__entry-content {
    font-weight: 600;
  }

  .p-card-projects__information-location {
    font-weight: 300;

    @include flex($justify: space-between, $align: flex-start, $wrap: wrap, $gap: 5rem 20rem);
  }

  .p-card-projects__location-item {
    flex: 0 0 auto;
    max-width: 100%;

    @include flex($align: flex-start, $gap: 10rem);
  }

  .p-card-projects__location-item::before {
    content: '';
    width: 25rem;
    height: 24rem;
    position: relative;
    background: 50% 50% / 100% auto no-repeat;
    flex: 0 0 auto;
  }

  .p-card-projects__location-item.p-card-projects__location-item--address {
    &::before {
      background-image: url(../img/common/icon_projects_01.png);
    }
  }

  .p-card-projects__location-item.p-card-projects__location-item--type {
    &::before {
      background-image: url(../img/common/icon_projects_02.png);
    }
  }

  @include pc {
    .p-card-projects__information-description {
      font-size: 16rem;
      line-height: calc(24 / 22);
    }

    .p-card-projects__entry-content {
      font-size: 22rem;
    }

    .p-card-projects__information-location {
      font-size: 16rem;
      line-height: calc(24 / 16);
    }
  }

  @include pc-tablet {
    .p-card-projects__information-description {
      font-size: 13rem;
      line-height: calc(24 / 18);
    }

    .p-card-projects__entry-content {
      font-size: 18rem;
    }

    .p-card-projects__information-location {
      font-size: 13rem;
      line-height: calc(24 / 13);
      flex-direction: column;
    }

    .p-card-projects__location-item.p-card-projects__location-item--address {
      &::before {
        margin: 0;
      }
    }

    .p-card-projects__location-item.p-card-projects__location-item--type {
      &::before {
        margin: 0;
      }
    }
  }

  @include sp {
    .p-card-projects__information-description {
      font-size: 13rem;
      line-height: calc(24 / 18);
    }

    .p-card-projects__information-location {
      flex-direction: column;
    }

    .p-card-projects__entry-content {
      font-size: 18rem;
    }

    .p-card-projects__information-location {
      font-size: 13rem;
      line-height: calc(24 / 13);
    }

    .p-card-projects__location-item.p-card-projects__location-item--address {
      &::before {
        margin: 0;
      }
    }

    .p-card-projects__location-item.p-card-projects__location-item--type {
      &::before {
        margin: 0;
      }
    }
  }
}

.p-card-projects.p-card-projects--style-default {
  height: 100%;

  @include flex($direction: column);

  .p-card-projects__title {
    font-weight: 600;
  }

  @include pc {
    .p-card-projects__wrapper {
      padding: 26rem 13rem 21rem;
      flex: 1 1 auto;

      @include flex($direction: column, $justify: space-between);
    }

    .p-card-projects__title {
      margin-bottom: 15rem;
      font-size: 24rem;
      line-height: calc(36 / 24);
    }

    .p-card-projects__information-description {
      margin-bottom: 37rem;
    }
  }

  @include pc-tablet {
    .p-card-projects__wrapper {
      padding: 20rem 10rem;
    }

    .p-card-projects__title {
      margin-bottom: 10rem;
      font-size: 20rem;
      line-height: calc(30 / 20);
    }

    .p-card-projects__information-description {
      margin-bottom: 20rem;
    }
  }

  @include sp {
    .p-card-projects__wrapper {
      padding: 20rem 0;
    }

    .p-card-projects__title {
      margin-bottom: 15rem;
      font-size: 20rem;
      line-height: calc(30 / 20);
    }

    .p-card-projects__information-description {
      margin-bottom: 15rem;
    }
  }
}

.p-card-projects.p-card-projects--style-highlight {
  .p-card-projects__wrapper {
    position: relative;
    flex: 1 1 auto;
    display: flex;
  }

  .p-card-projects__title {
    font-weight: 700;

    &::after {
      content: '';
      mask: url(../img/common/icon_arrow_06.svg) 50% 50% / 100% auto no-repeat;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      transition: transform 0.5s ease;
    }
  }

  .p-card-projects__title-wrapper {
    display: inline;
    background: linear-gradient(to right, transparent 0%, transparent 50%, #e97342 50%, #e97342 100%) -100% 100% / 200%
      15rem repeat-x;
    transition: background 0.5s ease;
  }

  .p-card-projects__information-description {
    border-bottom: 1px solid #e4e4e4;
  }

  .p-card-projects__description-entry {
    padding-left: 24rem;
    position: relative;
  }

  .p-card-projects__description-entry::before {
    content: '';
    width: 18rem;
    height: 18rem;
    position: absolute;
    top: 3rem;
    border-radius: 50%;
    border: 5rem solid #f2efec;
    background-color: #e97342;
  }

  .p-card-projects__entry-label,
  .p-card-projects__entry-content {
    position: relative;
    top: -2rem;
  }

  .c-thumbnail-product {
    &::before {
      display: none;
    }
  }

  @include pc {
    @include flex($align: flex-end);

    &::after {
      min-height: 540rem;
      padding-top: calc(730 / 1860 * 100%);
      content: '';
      flex: 0 0 auto;
    }

    .p-card-projects__wrapper {
      padding: 40rem 40rem 40rem 80rem;
      align-items: flex-start;
      justify-content: space-between;
      gap: 30rem;
    }

    .p-card-projects__title {
      max-width: calc(50% - 15rem);
      margin: -10rem 0;
      padding-right: 125rem;
      font-size: 56rem;
      line-height: calc(70 / 56);
      color: $color-white;

      &::after {
        width: 54rem;
        right: 20rem;
        background-color: $color-white;
      }
    }

    .p-card-projects__title-wrapper {
      background-position: -100% calc(100% - 10rem);
    }

    .p-card-projects__information {
      max-width: 550rem;
      border-radius: 18rem;
      background-color: $color-white;
      flex: 1 1 0;
    }

    .p-card-projects__information-description {
      padding: 25rem 30rem 22rem;
    }

    .p-card-projects__description-entry {
      top: 2rem;
    }

    .p-card-projects__description-entry::before {
      left: -1rem;
    }

    .p-card-projects__information-location {
      padding: 25rem 30rem 22rem;
    }

    .c-thumbnail-product {
      border-radius: 30rem;
      padding-top: 0;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  @include pc-tablet {
    .p-card-projects__wrapper {
      padding: 30rem;
      flex-direction: column;
      align-items: center;
    }

    .p-card-projects__title {
      max-width: none;
      margin: -10rem 0;
      padding-right: 80rem;
      font-size: 48rem;
      line-height: calc(60 / 48);

      &::after {
        width: 40rem;
        right: 20rem;
      }
    }

    .p-card-projects__title-wrapper {
      background-position: -100% calc(100% - 5rem);
    }

    .p-card-projects__information {
      width: 100%;
      max-width: none;
    }

    .p-card-projects__information-description {
      padding: 20rem;
    }

    .p-card-projects__description-entry {
      top: 0;
    }

    .p-card-projects__description-entry::before {
      left: 0;
    }

    .p-card-projects__information-location {
      padding: 20rem;
    }
  }

  @include sp {
    .p-card-projects__wrapper {
      padding-top: 20rem;
      align-items: center;
      flex-direction: column;
      gap: 20rem;
    }

    .p-card-projects__title {
      margin: -10rem 0;
      padding-right: 50rem;
      font-size: 32rem;
      line-height: calc(48 / 32);

      &::after {
        width: 30rem;
        right: 10rem;
        background-color: $color-default;
      }
    }

    .p-card-projects__title-wrapper {
      background-position: -100% calc(100% - 5rem);
    }

    .p-card-projects__description-entry::before {
      left: 0;
    }

    .p-card-projects__information {
      width: 100%;
      border-radius: 10rem;
      background-color: $color-gray;
    }

    .p-card-projects__information-description {
      padding: 30rem 20rem 15rem;
    }

    .p-card-projects__information-location {
      padding: 15rem 20rem 30rem;
    }
  }
}

.p-card-projects.p-card-projects--style-highlight:hover {
  @include pc {
    .p-card-projects__title {
      &::after {
        transform: translateX(20rem);
      }
    }

    .p-card-projects__title-wrapper {
      background-position: -300% calc(100% - 10rem);
    }
  }

  @include pc-tablet {
    .p-card-projects__title-wrapper {
      background-position: -300% calc(100% - 5rem);
    }
  }

  @include sp {
    .p-card-projects__title {
      &::after {
        transform: translateX(10rem);
      }
    }

    .p-card-projects__title-wrapper {
      background-position: -300% calc(100% - 5rem);
    }
  }
}
