@use '../../_base/variable' as *;
@use '../../_base/mixin' as *;

.c-input,
.c-input-file,
.c-select {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    background-color: #d3cfcd;
    height: 3px;
    transition:
      width 0.5s ease,
      background 0.5s ease;
  }

  &:focus-within {
    &::after {
      background-color: #e97342;
      width: 100%;
    }
  }

  @include pc {
    font-size: 18rem;
    line-height: calc(35 / 18);

    &::after {
      width: 35rem;
    }
  }

  @include sp {
    font-size: 16rem;
    line-height: calc(24 / 16);

    &::after {
      width: 30rem;
    }
  }
}

.c-input {
  input {
    width: 100%;
    border-bottom: 1px solid #d3cfcd;
    outline: none;
    position: relative;
    z-index: 0;
    font: inherit;
  }

  @include pc {
    input {
      padding: 7rem 10rem;
    }
  }

  @include sp {
    input {
      padding: 5rem 10rem;
    }
  }
}

.c-input-file {
  position: relative;

  input {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    cursor: pointer;
    opacity: 0;
  }

  .c-input-file__wrapper {
    width: 100%;
    border-bottom: 1px solid #d3cfcd;
    outline: none;
    position: relative;
    font: inherit;

    @include flex($gap: 10rem);
  }

  .c-input-file__wrapper::after {
    content: '';
    background-color: #e97342;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    mask: url(../img/common/icon_file_pdf.svg) calc(100% - 12rem) 50% / auto auto no-repeat;
  }

  .c-input-file__label {
    flex: 1 1 auto;
    position: relative;
    z-index: 0;
  }

  .c-input-file__button {
    width: 35rem;
    height: 35rem;
    flex: 0 0 auto;
    position: relative;
    z-index: 1;
  }

  .c-input-file__button.c-input-file__button--delete::before,
  .c-input-file__button.c-input-file__button--delete::after {
    content: '';
    background-color: $color-default;
    height: 2rem;
    position: absolute;
    top: calc(50% - 1rem);
    right: 10rem;
    left: 10rem;
    border-radius: 1rem;
  }

  .c-input-file__button.c-input-file__button--delete::before {
    transform: rotate(135deg);
  }

  .c-input-file__button.c-input-file__button--delete::after {
    transform: rotate(45deg);
  }

  @include pc {
    .c-input-file__wrapper {
      padding: 7rem 40rem 7rem 10rem;
    }

    .c-input-file__wrapper::after {
      mask-size: 23rem;
    }
  }

  @include sp {
    .c-input-file__wrapper {
      padding: 5rem 40rem 10rem 10rem;
    }

    .c-input-file__wrapper::after {
      mask-size: 15rem;
      mask-position: calc(100% - 10rem) 50%;
    }
  }
}

.c-select {
  select {
    width: 100%;
    background: url(../img/common/icon_arrow_03.svg) calc(100% - 10rem) 50% / auto auto no-repeat;
    border-bottom: 1px solid #d3cfcd;
    outline: none;
    position: relative;
    z-index: 0;
    font: inherit;
    cursor: pointer;
  }

  option {
    font-size: 16rem;
  }

  @include pc {
    select {
      background-size: 18rem;
      padding: 7rem 40rem 7rem 10rem;
    }
  }

  @include sp {
    select {
      background-size: 15rem;
      padding: 10rem 40rem 10rem 10rem;
    }
  }
}

.c-form-contact {
  .c-form-contact__wrapper {
    display: flex;
    flex-direction: column;
  }

  .c-form-contact__controller-label {
    margin: 0;
    font-style: italic;
  }

  @include pc {
    padding: 32rem 32rem 41rem;

    .c-form-contact__wrapper {
      gap: 29rem;
    }

    .c-form-contact__segment {
      display: grid;
      gap: 30rem 50rem;
    }

    .c-form-contact__controller {
      padding: 43rem 3rem 0 14rem;
    }

    .c-form-contact__controller-wrapper {
      @include flex($justify: space-between, $align: center, $gap: 30rem);
    }

    .c-form-contact__controller-label {
      width: calc(434 / 1036 * 100%);
      font-size: 18rem;
      line-height: calc(28 / 18);
      flex: 0 0 auto;
    }
  }

  @include pc-tablet {
    padding: 30rem 20rem;

    .c-form-contact__wrapper {
      gap: 20rem;
    }

    .c-form-contact__segment {
      gap: 20rem;
    }

    .c-form-contact__controller {
      padding: 40rem 0 0;
    }
  }

  @include sp {
    padding: 30rem 20rem;

    .c-form-contact__wrapper {
      gap: 15rem;
    }

    .c-form-contact__segment {
      @include flex($direction: column, $gap: 15rem);
    }

    .c-form-contact__controller {
      padding-top: 30rem;
    }

    .c-form-contact__controller-wrapper {
      @include flex($direction: column, $gap: 20rem);
    }

    .c-form-contact__controller-label {
      font-size: 16rem;
      line-height: calc(24 / 16);
    }
  }
}

.c-form-contact.c-form-contact--services {
  @include pc {
    .c-form-contact__segment:nth-child(1) {
      grid-template-columns: calc(313 / 936 * 100%) calc(226 / 936 * 100%) 1fr;
    }

    .c-form-contact__segment:nth-child(2) {
      grid-template-columns: 1fr 1fr;
    }
  }

  @include pc-tablet {
    .c-form-contact__segment:nth-child(1) {
      grid-template-columns: 1fr;
    }
  }
}
