@use '../../_base/variable' as *;
@use '../../_base/mixin' as *;

.c-icon-accordion {
  position: absolute;
  z-index: 2;
  border-radius: 50%;
  background-color: #e97342;

  @include pc {
    width: 40rem;
    height: 40rem;
    top: calc(50% - 20rem);
    left: calc(100% - 20rem);
  }

  @include sp {
    width: 30rem;
    height: 30rem;
    top: calc(50% - 15rem);
    left: calc(100% - 15rem);
  }
}

.c-icon-accordion::before,
.c-icon-accordion::after {
  content: "";
  position: absolute;
  width: calc(16 / 40 * 100%);
  height: 2px;
  top: calc(50% - 1px);
  right: 0;
  left: 0;
  margin: 0 auto;
  background-color: $color-white;
  transition: transform 0.5s ease;
}

.c-icon-accordion::after {
  transform: rotate(90deg);
}

.c-icon-accordion.is-tabs-active {
  &::after {
    transform: rotate(0deg);
  }
}