@use '../../_base/variable' as *;
@use '../../_base/mixin' as *;

.c-list {
  position: relative;

  .c-list__item {
    position: relative;
  }

  .c-list__item::before,
  .c-list__item::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 1rem;
    background-color: #e4e1e0;
    transition:
      opacity 0.5s ease,
      height 0.5s ease;
  }

  .c-list__item::before {
    height: 5rem;
    transition:
      transform 0.5s ease,
      opacity 0.5s ease;
    transform-origin: 50% 100%;
    transform: scale(1, 0);
    background-color: #e97342;
    opacity: 0;
  }

  .c-list__item:hover {
    &::before {
      transform: scale(1, 1);
      opacity: 1;
    }

    &::after {
      opacity: 0;
    }

    .c-thumbnail-product {
      &::before {
        opacity: 1;
      }
    }
  }

  @include pc {
    .c-list__wrapper {
      @include grid($columns: 1fr 1fr 1fr, $gap: 40rem 30rem);
    }
  }

  @include pc-tablet {
    .c-list__wrapper {
      grid-template-columns: 1fr 1fr;
      gap: 32rem 20rem;
    }
  }

  @include sp {
    .c-list__wrapper {
      @include flex($direction: column, $gap: 30rem);
    }
  }
}

.c-list.c-list--style-slider {
  .c-list__controller {
    display: flex;
    justify-content: flex-end;
  }

  .swiper-button-next,
  .swiper-button-prev {
    border: 1px solid #e4e1e0;
    flex: 0 0 auto;
    position: relative;

    &::after {
      background-color: #313131;
      content: '';
      bottom: 0;
      left: 0;
      mask: url(../img/common/icon_arrow_07.svg) 50% 50% / auto auto no-repeat;
      position: absolute;
      right: 0;
      top: 0;
      transition: background 0.5s ease;
    }

    &:hover {
      &::after {
        background-color: #e97342;
      }
    }
  }

  .swiper-button-next {
    &::after {
      transform: scale(-1, 1);
    }
  }

  @include pc {
    .c-list__controller {
      position: absolute;
      top: -81rem;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      max-width: 1306rem;
      gap: 36rem;
    }

    .swiper-button-next,
    .swiper-button-prev {
      border-radius: 24rem;
      height: 48rem;
      width: 48rem;

      &::after {
        mask-size: 18rem auto;
      }
    }
  }

  @include pc-tablet {
    .c-list__controller {
      top: -75rem;
    }

    .swiper-button-next,
    .swiper-button-prev {
      border-radius: 18rem;
      height: 36rem;
      width: 36rem;

      &::after {
        mask-size: 16rem auto;
      }
    }
  }

  @include sp {
    .c-list__controller {
      gap: 24rem;
      margin-bottom: 16rem;
    }

    .swiper-button-next,
    .swiper-button-prev {
      border-radius: 18rem;
      height: 36rem;
      width: 36rem;

      &::after {
        mask-size: 16rem auto;
      }
    }
  }
}
