@use '../../_base/variable' as *;
@use '../../_base/mixin' as *;

.c-section-enterprise {
  position: relative;

  &__keyvisual {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30rem;
    overflow: hidden;

    &::after,
    &::before {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__wrapper {
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    &-wrapper {
      background: $color-white;
      border-radius: 20rem;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &__icon {
    position: relative;

    &::before,
    &::after {
      content: '';
      position: absolute;
      display: block;
      top: 50%;
      transform: translateY(-50%);
    }

    &::before {
      left: 0;
      width: 11rem;
      height: 11rem;
      background-color: #d8d4d1;
      border-radius: 50%;
    }

    &::after {
      right: 0;
      width: 12rem;
      height: 19rem;
      background: url(../img/common/icon_arrow_02.svg) center center / contain no-repeat;
    }

    &-image {
      position: relative;
      display: flex;
      justify-content: center;

      &::before {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 1rem;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        background-color: #d8d4d1;
      }

      img {
        width: auto;
        height: 100%;
        background-color: $color-white;
        position: relative;
      }
    }
  }

  @include pc {
    max-width: 1920rem;
    margin: 0 auto;
    padding: 126rem 0 0;
    min-height: 980rem;

    .l-wrapper {
      max-width: 1820rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 806rem;
    }

    &__keyvisual {
      &::before {
        height: 548rem;
      }
    }

    .c-title-second {
      margin-bottom: 20rem;
    }

    &__wrapper {
      margin: 0 -15rem;
    }

    &__item {
      width: calc(100% / 4);
      padding: 0 15rem;

      &-wrapper {
        padding: 34rem 0 44rem;
      }

      .c-title-third {
        margin-bottom: 29rem;
        padding: 0 34rem;
      }
    }

    &__icon {
      margin-bottom: 38rem;

      &::before {
        left: -4rem;
      }

      img {
        padding: 0 20rem;
      }
    }

    .c-paragraph-primary {
      padding: 0 34rem;
    }
  }

  @include pc-tablet {
    &__item {
      width: calc(100% / 2);
      margin-bottom: 20rem;
    }
  }

  @include sp {
    padding: 60rem 0 30rem;

    &__keyvisual {
      &::before {
        height: 548rem;
      }
    }

    .c-title-second {
      margin-bottom: 20rem;
    }

    &__item {
      margin-bottom: 20rem;

      &-wrapper {
        padding: 20rem 0;
      }

      .c-title-third {
        margin-bottom: 29rem;
        padding: 0 34rem;
      }
    }

    &__icon {
      margin-bottom: 38rem;

      &::before {
        left: -4rem;
      }

      img {
        padding: 0 20rem;
      }
    }

    .c-paragraph-primary {
      padding: 0 34rem;
    }
  }
}
