@use '../../_base/variable'as *;
@use '../../_base/mixin'as *;

.c-section-introduction {
  background: $color-white url(../img/common/background_introduction_01.jpg) 50% 50% / cover no-repeat;
  position: relative;
  z-index: 10;

  .c-section-introduction__heading {
    margin: 0 auto;
    position: relative;
    z-index: 0;

    .c-thumbnail {
      margin: 0 auto;
      z-index: 1;

      .c-thumbnail__wrapper {
        padding-top: calc(811 / 630 * 100%);
      }
    }
  }

  .c-section-introduction__heading-position {
    margin: 0 auto 0 0;
  }

  .c-section-introduction__heading-detail {
    margin: 0 0 0 auto;

    p {
      margin: 0;
    }
  }

  .c-section-introduction__accordion {
    margin: 0 auto;
    position: relative;

    @include flex($justify: space-between, $wrap: wrap);
  }

  .c-section-introduction__accordion-entry {
    position: relative;

    @include flex;
  }

  .c-section-introduction__accordion-entry.is-tabs-active {
    z-index: 100;
  }

  .c-section-introduction__accordion-entry:nth-child(2) {
    justify-content: flex-end;
  }

  .c-section-introduction__accordion-entry:nth-child(4) {
    justify-content: center;
  }

  .c-section-introduction__accordion-entry:nth-child(5) {
    justify-content: flex-end;
  }

  .c-section-introduction__entry-wrapper {
    flex: 0 0 auto;
    position: relative;
  }

  .c-section-introduction__entry-toggle {
    border-radius: 20rem;
    background-color: $color-white;
    position: relative;
    z-index: 0;
    font-weight: 600;

    @include flex($align: center);

    .c-thumbnail {
      border-radius: 50%;
      flex: 0 0 auto;
      overflow: hidden;
    }
  }

  .c-section-introduction__toggle-label {
    position: relative;
    z-index: 0;
  }

  .c-section-introduction__entry-content {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: 1;
    pointer-events: none;
    transition: opacity 0.5s ease;
  }

  .c-section-introduction__entry-content.is-tabs-active {
    opacity: 1;
    pointer-events: auto;
  }

  .c-section-introduction__content-wrapper {
    background-color: $color-white;
    border-radius: 20rem;
    position: relative;
    z-index: 1;
  }

  .c-section-introduction__content-detail {
    p {
      margin: 0;
    }
  }

  .c-section-introduction__entry-content::before {
    content: "";
    background: inherit;
    border-radius: 20rem;
    box-shadow: 5rem 0 43rem 0 rgba(0, 0, 0, 0.2);
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    mix-blend-mode: multiply;
  }

  .c-title-first {
    margin: 0;
    font-family: $fontfamily-canela;
    font-weight: 400;
  }

  @include pc {
    margin-top: calc(-92rem - 1px);
    padding: calc(237 / 1920 * 100%) 0 calc(72 / 1920 * 100%);

    .c-section-introduction__heading {
      max-width: 1180rem;

      .c-thumbnail {
        width: calc(630 / 1180 * 100%);
        margin-top: calc(-296 / 1180 * 100%);
      }
    }

    .c-section-introduction__heading-position {
      margin: 0 0 calc(55 / 1180 * 100%) calc(171 / 1180 * 100%);
      width: calc(250 / 1180 * 100%);
      font-size: 18rem;
      line-height: calc(30 / 18);
    }

    .c-section-introduction__heading-detail {
      max-width: calc(355 / 1180 * 100%);
      font-size: 19rem;
      line-height: calc(30 / 19);
    }

    .c-section-introduction__accordion {
      margin: calc(-323 / 1860 * 100%) auto 0;
      max-width: 1820rem
    }

    .c-section-introduction__accordion-entry:nth-child(1),
    .c-section-introduction__accordion-entry:nth-child(2) {
      padding-bottom: calc(95 / 1820 * 100%);
      flex: 0 0 calc(100% / 2);

      .c-section-introduction__entry-wrapper {
        width: calc(520 / (1820 / 2) * 100%);
      }
    }

    .c-section-introduction__accordion-entry:nth-child(3),
    .c-section-introduction__accordion-entry:nth-child(4),
    .c-section-introduction__accordion-entry:nth-child(5) {
      flex: 0 0 calc(100% / 3);

      .c-section-introduction__entry-wrapper {
        width: calc(520 / (1820 / 3) * 100%);
      }
    }

    .c-section-introduction__accordion-entry:nth-child(3) {
      .c-section-introduction__entry-wrapper {
        margin-left: calc(63 / (1820 / 3) * 100%);
      }
    }

    .c-section-introduction__accordion-entry:nth-child(4) {
      padding-top: calc(141 / 1820 * 100%);

      .c-section-introduction__entry-wrapper {
        margin-left: calc(-10 / (1820 / 3) * 100%);
      }
    }

    .c-section-introduction__accordion-entry:nth-child(5) {
      .c-section-introduction__entry-wrapper {
        margin-right: calc(84 / (1820 / 3) * 100%);
      }
    }

    .c-section-introduction__entry-wrapper {
      margin-right: 10rem;
    }

    .c-section-introduction__entry-toggle {
      padding: 20rem 40rem 20rem 20rem;
      font-size: 20rem;
      line-height: calc(35 / 20);

      .c-thumbnail {
        width: calc(120 / 460 * 100%);
        margin-right: 20rem;
        padding-top: calc(120 / 460 * 100%);
      }
    }

    .c-section-introduction__entry-content {
      top: -49rem;
    }

    .c-section-introduction__content-detail {
      font-size: 19rem;
      line-height: calc(28 / 19);
      padding: 29rem 40rem 26rem;
    }

    .c-title-first {
      margin: 0 calc(161 / 1180 * 100%) calc(20 / 1180 * 100%);
      font-size: 100rem;
      line-height: calc(120 / 100);
    }
  }

  @include pc-laptop {
    padding: calc(152rem + 1px) 0 60rem;

    .c-section-introduction__heading {
      width: calc(860 / 1180 * 100%);

      .c-thumbnail {
        margin-top: 0;
      }
    }

    .c-section-introduction__heading-position {
      max-width: 500rem;
      width: auto;
      margin: 0 auto 20rem;
      padding: 0;
      font-size: 15rem;
      text-align: center;
    }

    .c-section-introduction__heading-detail {
      max-width: 500rem;
      width: auto;
      margin: 0 auto 30rem;
      padding: 0;
      font-size: 16rem;
    }

    .c-section-introduction__accordion-entry:nth-child(1),
    .c-section-introduction__accordion-entry:nth-child(2) {
      padding-bottom: 50rem;
    }

    .c-section-introduction__accordion-entry:nth-child(3) {
      .c-section-introduction__entry-wrapper {
        margin-left: 30rem;
      }
    }

    .c-section-introduction__accordion-entry:nth-child(4) {
      .c-section-introduction__entry-wrapper {
        margin-left: 0;
      }
    }

    .c-section-introduction__accordion-entry:nth-child(5) {
      .c-section-introduction__entry-wrapper {
        margin-right: 30rem;
      }
    }

    .c-section-introduction__entry-wrapper {
      margin-right: 0;
    }

    .c-section-introduction__entry-toggle {
      padding: 20rem 40rem 20rem 20rem;
      font-size: 18rem;
      line-height: calc(30 / 18);
    }

    .c-section-introduction__content-detail {
      font-size: 16rem;
      line-height: calc(24 / 16);
      padding: 20rem;
    }

    .c-title-first {
      margin: 0 auto 20rem;
      font-size: 80rem;
    }
  }

  @include pc-tablet {
    padding: calc(140rem + 1px) 0 60rem;
    margin-top: calc(-80rem - 1px);

    .c-section-introduction__heading {
      width: auto;

      .c-thumbnail {
        width: 100%;
        max-width: 440rem;
      }
    }

    .c-section-introduction__accordion {
      margin: 50rem 0 0;
      justify-content: center;
      align-items: stretch;
      gap: 30rem;
    }

    .c-section-introduction__accordion-entry:nth-child(1),
    .c-section-introduction__accordion-entry:nth-child(2),
    .c-section-introduction__accordion-entry:nth-child(3),
    .c-section-introduction__accordion-entry:nth-child(4),
    .c-section-introduction__accordion-entry:nth-child(5) {
      width: 330rem;
      margin: 0;
      padding: 0;
      flex: 0 0 auto;

      .c-section-introduction__entry-wrapper {
        width: 100%;
        max-width: none;
        margin: 0;
        padding: 0;
      }
    }

    .c-section-introduction__entry-toggle {
      font-size: 16rem;
      line-height: calc(24 / 16);
    }
  }

  @include sp {
    margin-top: calc(-80rem - 1px);
    padding: calc(120rem + 1px) 0 60rem;

    .c-section-introduction__heading {
      .c-thumbnail {
        width: 100%;
        max-width: 300rem;
      }
    }

    .c-section-introduction__heading-position {
      margin: 0 auto 10rem;
      font-size: 15rem;
      text-align: center;
    }

    .c-section-introduction__heading-detail {
      margin: 0 auto 30rem;
      font-size: 16rem;
    }

    .c-section-introduction__accordion {
      margin: 50rem 0 0;
      justify-content: center;
      align-items: stretch;
      gap: 30rem;
    }

    .c-section-introduction__entry-wrapper {
      width: 100%;
    }

    .c-section-introduction__entry-toggle {
      border: 1px solid #e9e9e7;
      z-index: 1;
      padding: 14rem 24rem 14rem 14rem;
      font-size: 15rem;
      line-height: calc(24 / 15);
      opacity: 1;

      .c-thumbnail {
        width: calc(70 / 287 * 100%);
        margin-right: 15rem;
        padding-top: calc(70 / 287 * 100%);
      }
    }

    .c-section-introduction__entry-content {
      margin-top: 15rem;
      position: relative;
      z-index: 0;
      opacity: 1;
      display: none;

      .c-thumbnail.c-thumbnail--style-snippet {
        .c-icon-accordion {
          display: none;
        }
      }
    }

    .c-section-introduction__entry-content::before {
      display: none;
    }

    .c-section-introduction__content-detail {
      font-size: 16rem;
      line-height: calc(24 / 16);
      padding: 15rem;
    }

    .c-section-introduction__entry-content.is-tabs-active {
      display: block;
    }

    .l-wrapper {
      width: calc(100% - 48rem);
    }

    .c-title-first {
      margin: 0 auto 20rem;
      font-size: 56rem;
    }
  }
}

.c-section-introduction--style-top {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/common/mask_introduction_02.png) center center / contain no-repeat;
    overflow: hidden;
  }

  @include pc {
    margin-top: -187rem;

    &::before {
      border-radius: 30rem;
    }
  }

  @include sp {
    &::before {
      border-radius: 20rem;
    }
  }
}
