@use '../../_base/variable' as *;
@use '../../_base/mixin' as *;

.c-slider-services {
  overflow: hidden;

  &__item {
    background: #fff;
    height: 100%;
    border-radius: 20rem;
    overflow: hidden;
  }

  &__number {
    line-height: 1;
    color: #b1b1b1;
    display: block;
  }

  &__image {
    position: absolute;
    height: 76rem;

    img {
      width: auto;
      height: 100%;
    }
  }

  &__pagination {
    position: unset;
  }

  .swiper-pagination-bullet {
    width: 30rem;
    height: 4rem;
    border-radius: 2rem;
    margin: 0 5rem !important;
  }

  .swiper-pagination-bullet-active {
    background-color: #e97342;
  }

  @include pc {
    padding: 136rem 0 84rem;

    &__item {
      width: 417rem;
      min-height: 426rem;
      padding: 37rem 39rem;
    }

    &__number {
      font-size: 24rem;
      margin-bottom: 96rem;
    }

    &__image {
      top: 42rem;
      right: 40rem;
    }

    .c-title-third {
      margin-bottom: 82rem;
    }

    &__pagination {
      margin-top: 38rem;
    }

    &__wrapper {
      overflow: visible;
    }
  }

  @include sp {
    padding: 80rem 0 40rem;

    &__item {
      width: 100%;
      padding: 37rem 39rem;
    }

    &__number {
      font-size: 24rem;
      margin-bottom: 96rem;
    }

    &__image {
      top: 42rem;
      right: 40rem;
    }

    .c-title-third {
      margin-bottom: 60rem;
    }

    &__pagination {
      margin-top: 10rem;
    }

    &__wrapper {
      overflow: visible;
    }
  }
}

.c-slider-services__viewport {
  background: url(../img/services/personal_bg_01.png) center bottom / cover no-repeat;

  @include pc {
    padding: 0 30rem 50rem;
    border-radius: 0 0 30rem 30rem;
  }

  @include sp {
    padding: 0 15rem 50rem;
    margin: 0 -15rem;
  }
}
