@use '../../_base/variable'as *;
@use '../../_base/mixin'as *;

.title-common-primary {
  text-align: center;
  color: $color-white;
  font-weight: 500;
  text-transform: uppercase;
  font-family: $fontfamily-vogun;
  position: relative;
  z-index: 1;
  width: 100%;

  &.is-lion {
    color: $color-lion;
  }

  &.is-start {
    text-align: left;
  }

  @include pc {
    margin-bottom: .16rem;
    font-size: .50rem;
    line-height: calc(60 / 50);
  }

  @include sp {
    margin-bottom: .12rem;
    font-size: .28rem;
    line-height: calc(40 / 28);

    &.is-start {
      text-align: center;
    }
  }
}