@use '_base/_variable' as *;
@use '_base/_mixin' as *;

.page-common-parallax {
  position: relative;

  section {
    width: 100%;
    position: relative;
  }
}

.outer-common {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;

  .outer-viewport {
    height: 100%;
    overflow: hidden auto;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }

  .outer-wrapper {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }
}

.section-top-keyvisual {
  height: 100vh;
  background-color: $color-default;
}

.slider-top-keyvisual {
  width: 100%;
  height: 100%;

  .slider-slide {
    overflow: hidden;
  }

  .slide-banner {
    width: 100%;
    height: 100vh;
    position: relative;
  }

  .object-common {
    object-position: top center;
  }
}

.section-top-information {
  height: 100vh;
  background: url(../img/top/information_bg_01.jpg) 50% 50% / cover no-repeat;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    background: linear-gradient(180deg, #195450 36.38%, rgba(25, 84, 80, 0) 100%);
    opacity: 0.8;
    transform: matrix(1, 0, 0, -1, 0, 0);
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5.74rem;
    z-index: 0;
    pointer-events: none;
  }

  .wrapper {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .information-controller {
    margin-bottom: .2rem;
    display: flex;
    justify-content: center;
  }

  .outer-common {
    .outer-wrapper {
      padding-top: .9rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
  }
}

.list-top-information {
  color: $color-white;

  .list-wrapper {
    @include reset-list;

    display: flex;
    flex-wrap: wrap;
  }

  .list-item {
    border-left: 1px solid rgba($color: $color-white, $alpha: .4);
    width: calc(100% / 6);
    min-height: 2.12rem;
    padding: .22rem;
  }

  .item-title {
    margin-bottom: .11rem;
    font-size: .28rem;
    font-weight: 400;
    line-height: calc(36 / 28);
  }
}

.section-top-introduction {
  height: 100vh;
  background: url(../img/top/video_bg_01.jpg) 50% 50% / cover no-repeat;

  .outer-common {
    .outer-wrapper {
      padding: .90rem 0;
      height: auto;
    }
  }
}

.section-top-area {
  height: 100vh;
  background-color: #024b40;

  .area-viewport {
    width: 100%;
    background: #024b40 url(../img/top/area_img_01.png) 100% 0% / auto 100% no-repeat;
    padding-top: calc(980 / 1920 * 100%);
    position: relative;
  }

  .area-wrapper {
    width: calc(402 / 1920 * 100%);
    position: absolute;
    top: calc(159 / 980 * 100%);
    left: calc(136 / 1920 * 100%);
    padding: .9rem 0;
  }

  .outer-common {
    .outer-wrapper {
      justify-content: flex-end;
    }
  }

  .title-common-primary {
    margin: -0.4rem 0 .25rem .14rem;
  }
}

.section-top-utilities {
  background: $color-default url(../img/top/utilities_bg_01.png) 50% 50% / cover no-repeat;
}

.section-top-plan {
  height: 1080px;
  background-color: #024b40;

  .plan-viewport {
    width: 100%;
    background: #024b40 url(../img/top/plan_img_01.jpg) 100% 50% / 100% auto no-repeat;
    padding-top: calc(1080 / 1920 * 100%);
    position: relative;

    &::after {
      position: absolute;
      content: "";
      background: linear-gradient(180deg, #004944 13.51%, rgba(0, 73, 68, 0) 95.68%);
      top: 0;
      left: 0;
      width: 100%;
      height: 4.68rem;
      z-index: 0;
    }

    .wrapper {
      position: absolute;
      top: 1.46rem;
      right: 0;
      left: 0;
      z-index: 1;
    }
  }

  .outer-common {
    .outer-wrapper {
      justify-content: flex-end;
    }
  }

  .title-common-primary {}
}

.section-top-library {
  background: $color-default url(../img/top/video_bg_01.jpg) 50% 50% / cover no-repeat;

  .outer-common {
    .outer-wrapper {
      height: auto;
    }
  }
}

.slider-top-library {
  position: relative;
  overflow: hidden;
  color: #fff;
  font-size: .24rem;
  line-height: calc(36 / 24);

  .slider-viewport {
    width: auto;
    margin: 0 -7.05rem;
  }

  .slider-slide {
    padding: 0 .2rem;
  }

  .slider-slide.is-current {
    .slide-banner {
      transform: scale(1, 1);
    }

    .slide-wrapper {
      opacity: 1;
      pointer-events: auto;
    }
  }

  .slide-banner {
    margin-bottom: .15rem;
    transform: scale(calc(548 / 658), calc(548 / 658));
    transition: transform 0.5s ease;
  }


  .slide-wrapper {
    padding: .07rem 1.60rem .07rem 0;
    min-height: .5rem;
    position: relative;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
  }

  .slide-label {
    display: block;
    position: relative;
    z-index: 0;
  }

  .slide-arrow {
    width: .5rem;
    height: .5rem;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    display: block;
    background: url(../img/top/icon_arrow_01.svg) 50% 50% / 100% auto no-repeat;
  }

  .slide-arrow.is-previous {
    right: .85rem;
  }

  .slide-arrow.is-next {
    transform: scale(-1, 1);
  }
}