@use '_base/_variable'as *;
@use '_base/_mixin'as *;

body {
  overflow: hidden;
  height: 100vh;
}

section {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.outer-common {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  z-index: 10;

  .outer-viewport {
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  .outer-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
  }
}

.section-top-keyvisual {
  background-color: $color-default;
}

.slider-top-keyvisual {
  height: 100%;
  width: 100%;

  &>div {
    width: 100%;
    height: 100%;
  }

  .slider-slide {
    overflow: hidden;
  }

  .slide-banner {
    height: 100%;
    width: 100%;
    position: relative;
  }

  .object-common {
    object-position: top center;
  }
}

.section-top-information {
  background: url(../img/top/information_bg_01.jpg) center center / cover no-repeat;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    background: linear-gradient(180deg, #195450 36.38%, rgba(25, 84, 80, 0) 100%);
    opacity: 0.8;
    transform: matrix(1, 0, 0, -1, 0, 0);
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 0;
  }

  .wrapper {
    position: relative;
    z-index: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .information-controller {
    display: flex;
    justify-content: center;
  }

  @include pc {
    padding: .5rem 0 0;

    &::after {
      height: 5.74rem;
    }

    .information-controller {
      margin-bottom: .2rem;
    }
  }
}

.list-top-information {
  color: $color-white;

  .list-wrapper {
    @include reset-list;
  }

  .list-item {
    border-left: 1px solid rgba($color: $color-white, $alpha: .4);
  }

  .item-title {
    font-weight: 400;
  }

  @include pc {
    .list-wrapper {
      display: flex;
      flex-wrap: wrap;
    }

    .list-item {
      width: calc(100% / 6);
      padding: .16rem 0 .38rem;
    }

    .item-wrapper {
      padding: .2rem .18rem;
    }

    .item-title {
      margin-bottom: .8rem;
      font-size: .28rem;
      line-height: 1.5;
    }
  }
}

.section-top-introduction {
  background: url(../img/top/video_bg_01.jpg) center center / cover no-repeat;

  .outer-common {
    .outer-wrapper {
      height: auto;
    }
  }

  @include pc {
    padding: .90rem 0;
  }
}

.section-top-area {
  background-color: #024b40;

  .wrapper {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  .area-thumbnail {
    img {
      object-position: center center;
    }
  }

  .outer-common {
    .outer-wrapper {
      height: auto;
    }
  }

  @include pc {
    padding: 2.7rem 0;

    .area-thumbnail {
      max-width: 17.01rem;
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
    }

    .area-wrapper {
      max-width: 4.66rem;
    }

    .area-image {
      max-width: 4.02rem;
      margin-left: -.14rem;
    }

    .title-common-primary {
      margin-bottom: .24rem;
    }
  }
}

.section-top-utilities {
  background: $color-default url(../img/top/utilities_bg_01.png) center center / cover no-repeat;
}

.section-top-plan {
  background: url(../img/top/plan_img_01.jpg) center center / cover no-repeat;

  &::after {
    position: absolute;
    content: "";
    background: linear-gradient(180deg, #004944 13.51%, rgba(0, 73, 68, 0) 95.68%);
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
  }

  .wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  @include pc {
    padding: 1.45rem 0;

    &::after {
      height: 4.68rem;
    }
  }
}

.section-top-library {
  background: $color-default url(../img/top/video_bg_01.jpg) center center / cover no-repeat;

  .outer-common {
    .outer-wrapper {
      height: auto;
    }
  }
}

.slider-top-library {
  position: relative;
  overflow: hidden;
  color: #fff;
  font-size: .24rem;
  line-height: calc(36 / 24);

  .slider-viewport {
    width: auto;
    margin: 0 -7.05rem;
  }

  .slider-slide {
    padding: 0 .2rem;
  }

  .slider-slide.is-current {
    .slide-banner {
      transform: scale(1, 1);
    }

    .slide-wrapper {
      opacity: 1;
      pointer-events: auto;
    }
  }

  .slide-banner {
    margin-bottom: .15rem;
    transform: scale(calc(548 / 658), calc(548 / 658));
    transition: transform 0.5s ease;
  }


  .slide-wrapper {
    padding: .07rem 1.60rem .07rem 0;
    min-height: .5rem;
    position: relative;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
  }

  .slide-label {
    display: block;
    position: relative;
    z-index: 0;
  }

  .slide-arrow {
    width: .5rem;
    height: .5rem;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    display: block;
    background: url(../img/top/icon_arrow_01.svg) 50% 50% / 100% auto no-repeat;
  }

  .slide-arrow.is-previous {
    right: .85rem;
  }

  .slide-arrow.is-next {
    transform: scale(-1, 1);
  }
}